@import "partials/params";
@import "partials/mixins";

$font-color: #fff;

.nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    display: flex;
    color: $font-color;   
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    flex: 0 0 $nav-height;
    background: transparent;

    &__brand {
        font-weight: bold;
        margin-left: 40px;
        font-size: 20px;
    }

    &__menu {
        @include clear-list;
        display: flex;
        height: $nav-height;
    }

    &__item {
        margin: 22px 15px 5px;
        position: relative;
        font-size: 12px;
        &:hover {
            .nav__menu-border {
                opacity: 1;
            }
        }
    }

    &__link {
        color: $font-color;
    }

    &__menu-border {
        display: block;
        height: 1px;
        position: absolute;
        bottom: 0;
        opacity: 0;
        width: 100%;
        transition: .3s opacity;
        background-color: $font-color;
    }
}